$passly-green: #C3D8CB;
$passly-red: #EC0044;
$passly-blue: #202E46;

// $bg: #2E2A51;
$bg: ghostwhite;

// $navBg: #211E3E;
$navBg: steelblue;
$navHeight: 70px;

$logo-green: #9BBDAA;
$light-green: #E7EEE8;
$dark-green: #619D96;
$grey: #BCBEC0;
$light-grey: #F4F4F6;;
$light-blue: #1DAFE9;
$green: #75C05B;
$teal: #00A79D;

$salmon: #EA3F67;
$pink: #F7739C;
$black: #38404E;
$light: #E6E7E8;
$lightText: #2E2A51;

$dark-border-color: #BCBEC0;
$nothing_green: #00A79D;

