

// $bg: #2E2A51;
$bg: ghostwhite;

// $navBg: #211E3E;
$blue: #3E889F;
$navBg: steelblue;
$navHeight: 70px;

$turquoise: #15D0A6;
$pink: #DC29AE;


$grey: #BCBEC0;
$light-grey: #F4F4F6;;
$light-blue: #1DAFE9;

$teal: #00A79D;



$black: #38404E;
$light: #E6E7E8;
$lightText: #2E2A51;

$dark-border-color: #BCBEC0;


