.EmailSignUp {
    display: flex;
    flex-direction: column;

    .Row {
        margin-bottom: 10px !important;
    }

    label {
        font-size: 0.75rem;
        color: $black;
        margin-bottom: 3px;
    }

    .SalmonColor {
        color: $salmon;
    }

    input {
    	border: 0px;
    	padding: 7px;
    	color: $black;
    	outline: 0px;
    	border-bottom: 1px solid white;
    	transition: all 0.2s;

    	&:focus {
    		border-bottom: 1px solid $light-blue;
    	}
    }

    .Names {
        display: flex;
        flex-direction: row;
        margin: 0 -10px;

        .FlexColumn {
            flex: 1;
            padding: 0 10px;
        }
    }

    .Success {
    	color: $green;
    	font-size: 0.875rem;
    	text-align: center;
    }

    .Error {
    	color: $passly-red;
    	font-size: 0.875rem;
    	text-align: center;
    }
}