.About {
    min-height: calc(100% - 220px);

    .Header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: $teal;
            margin: 0 0 2rem;
            font-size: 1.875rem;
            font-weight: 300;
        }

        h3 {
            color: $teal;
            margin: 0 0 2rem;
            font-size: 1.4rem;
            font-weight: 300;
            max-width: 800px;
            text-align: center;
        }
    }

    .Values {
        position: relative;
        margin-bottom: 3em;

        .ValueInside {
            position: relative;
            background-color: white;
            width: 100%;
            padding: 14px 0;

            h3 {
                color: $teal;
                font-size: 1.4rem;
                font-weight: 300;
                text-align: center;
                margin: 1rem 0;
            }

            h4 {
                color: $teal;
                margin: 0 0 0;
                font-size: 1.0625rem;
                font-weight: 300;
                text-align: center;
            }

            p {
                position: relative;
                margin: 0rem auto 1.5rem;
                text-align: center;
                max-width: 675px;
                font-size: 1.025rem;
                font-weight: 300;
                color: $lightText;
            }

            span {
                color: $teal;
            }
        }
    }

    .AboutUsContent {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 968px) {
            flex-direction: row;
        }
    }

    .Desc {
        display: flex;
        flex: 1;
        flex-direction: column;

        .DescItem {
            margin: 0 0 3rem;

            h4 {
                color: $teal;
                margin: 0 0 0.5rem;
                font-size: 1.0625rem;
                font-weight: 300;

                span {
                    font-size: 1.0625rem;
                    color: $bg;
                }
            }

            p {
                font-size: 1.0625rem;
                line-height: 1.4;
                color: $lightText;

                a {
                    color: $light-blue;
                }
            }
        }
    }

    .Map {
        flex: 1;

        .Headquarters {
            color: $teal;
            margin-bottom: 0.5rem;
            font-size: 1.0625rem;
            font-weight: 300;
        }

        .Address {
            font-size: 1.0625rem;
            color: $bg;
            font-weight: 300;
            margin-bottom: 0.5rem;
        }
    }
}