pre {
    padding: 7px 21px;
    background-color: #F6F8FB;
    color: $black;
    font-size: 1.2rem;
    border-radius: 3px;
    display: inline-block;
}

.Page {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: $bg;
    padding-bottom: 50px;
    padding-top: 100px;

    &.Light {
        background-color: $light-grey;
    }
}

.PrivacyPolicyContent, .TermsOfServiceContent {
    @extend .Page;

    @extend .Page.Light;

    .Content {
        p {
            margin-bottom: 1.25rem;
        }

        h2 {
            text-align: left;
            color: $teal;
        }
    }
}

.Content {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;

    @media screen and (min-width: 968px) {
        width: 968px;
        max-width: 90%;
        margin: 0 auto;
    }

    @media screen and (min-width: 1168px) {
        width: 1100px;
    }

    @media screen and (min-width: 1600px) {
        width: 1368px;
    }

    &.FullScreen {
        max-width: 100%;

    }

    img {
        height: auto;
        width: 100%;
    }

    .FlexSpace {
        flex: 0.1;
    }

    h2 {
        color: #FFFFFF;
        text-align: center;
        font-size: 1.875rem;
        font-weight: 300;
        margin: 0 0 1.5rem;
    }

    h3 {
        font-size: 1.5625rem;
        color: #FFFFFF;
        font-weight: 400;
        margin: 0 0 0.5rem;
    }

    h4 {
        font-size: 1.25rem;
        color: #FFFFFF;
        font-weight: 400;
        margin: 0 0 0rem;
    }

    p {
        font-size: 1.0625rem;
        color: $black;
        font-weight: 300;
        margin: 0 0 0.5rem;
    }
}

.FlexColumn {
    display: flex;
    flex-direction: column;
}

.FlexRow {
    display: flex;
    flex-direction: row;
}

.AlignCenter {
    align-items: center;
}

.JustifyCenter {
    justify-content: center;
}

.SpaceBetween {
    justify-content: space-between;
}

.Flex1 {
    flex: 1;
}

.Flex2 {
    flex: 2;
}

.LargeButton {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 90%;
    margin: 2rem auto;
    font-size: 1.3rem;
    border-radius: 3px;
    color: #FFFFFF;

    &:hover {
        cursor: pointer;
    }

    @media screen and (min-width: 500px) {
        width: 450px;
        left: 0px;
    }
}

.LargeButtonRed {
    @extend .LargeButton;

    background-color: $turquoise;

    &:active {
        background-color: darken($turquoise, 5%);
        top: 1px;
    }
}