nav {

    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 50000;
    position: fixed;
    height: $navHeight;
    transition: background-color 0.3s, height 0.3s;
    background-color: $navBg;
    border-bottom: 1px solid transparent;
    overflow: hidden;
    // display: none;

    @media screen and (min-width: 968px) {
        overflow: initial;
    }

    &.Dark {
        background-color: rgba(231, 238, 232, 0.975);

        .NavButton {
            color: $black !important;
        }

        .LeftButton {
            color: $black !important;
        }
    }

    &.Open, .Open.Dark {
        height: 100%;
        background-color: $bg;

        .NavButton {
            color: #FFFFFF !important;
        }

        .LeftButton {
            color: #FFFFFF !important;
        }
    }

    * {
        transition: $coverSlideTransition;
    }

    .NavContent {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between; 
        top: 10px;

        @media screen and (min-width: 968px) {
            height: 50px;
            width: 968px;
            max-width: 90%;
        }

        @media screen and (min-width: 1168px) {
            width: 1100px;
        }

        @media screen and (min-width: 1600px) {
            width: 1368px;
        }
    }

    a.LogoLink {
        width: 150px;

        .Logo {
            width: 150px;
            position: relative;
            transition: $coverSlideTransition;
            opacity: 1;
            top: 7px;

            &.Hidden {
                opacity: 0;
            }
        }
    }

    .NavButtons {
        position: relative;
        top: 90px;
        text-align: right;

        @media screen and (min-width: 968px) {
            display: flex;
            top: 3px;
            flex-direction: row;
            justify-content: flex-end;
            align-content: flex-end;
            text-align: left;
        }

        .NavButton {
            font-size: 1rem;
            font-weight: 300;
            color: #FFFFFF;
            margin: 0 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            &:hover {
                cursor: pointer;
                color: darken(#FFFFFF, 10%);
            }

            @media screen and (min-width: 968px) {
                margin: 0 21px;
                font-size: 0.875rem;

                &:nth-of-type(1) {
                    display: none;
                }

                &:nth-of-type(2) {
                    display: none;
                }
            }
        }
    }

    .Actions {
        display: none;

        @media screen and (min-width: 968px) {
            width: 150px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            height: 40px;
        }

        .ActionContent {
            border: 1px solid $salmon;
            border-radius: 3px;
            width: 150px;
            display: flex;
            flex-direction: row;
            height: 24px;

            .ActionButton {
                flex: 1;
                color: #FFFFFF;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;
                font-size: 0.8125rem;
                font-weight: 300;
            }

            .LeftButton {
                @extend .ActionButton;
            }

            .RightButton {
                @extend .ActionButton;

                background-color: $salmon;
            }
        }
    }

    .custom-toggle {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 20px;
        right: -2px;
        z-index: 99999999;
        display: block;

        @media screen and (min-width: 968px) {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        .bar {
            display: block;
            width: 30px;
            height: 2px;
            border-radius: 100px;
            position: absolute;
            top: 18px;
            right: 0px;
            background-color: #FFFFFF;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;

            &:first-child {
                -webkit-transform: translateY(-8px);
                -moz-transform: translateY(-8px);
                -ms-transform: translateY(-8px);
                transform: translateY(-8px);
            }

            &:nth-child(2) {
                -webkit-transform: translateY(-16px);
                -moz-transform: translateY(-16px);
                -ms-transform: translateY(-16px);
                transform: translateY(-16px);
            }
        }
    }

    .custom-toggle.x .bar {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px;
    }

    .custom-toggle.x .bar:first-child {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 9px;
    }
}