nav {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 50000;
  position: fixed;
  height: 70px;
  transition: background-color 0.3s, height 0.3s;
  background-color: steelblue;
  border-bottom: 1px solid transparent;
  overflow: hidden; }
  @media screen and (min-width: 968px) {
    nav {
      overflow: initial; } }
  nav.Dark {
    background-color: rgba(231, 238, 232, 0.975); }
    nav.Dark .NavButton {
      color: #38404E !important; }
    nav.Dark .LeftButton {
      color: #38404E !important; }
  nav.Open, nav .Open.Dark {
    height: 100%;
    background-color: ghostwhite; }
    nav.Open .NavButton, nav .Open.Dark .NavButton {
      color: #FFFFFF !important; }
    nav.Open .LeftButton, nav .Open.Dark .LeftButton {
      color: #FFFFFF !important; }
  nav * {
    transition: all 0 linear; }
  nav .NavContent {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    top: 10px; }
    @media screen and (min-width: 968px) {
      nav .NavContent {
        height: 50px;
        width: 968px;
        max-width: 90%; } }
    @media screen and (min-width: 1168px) {
      nav .NavContent {
        width: 1100px; } }
    @media screen and (min-width: 1600px) {
      nav .NavContent {
        width: 1368px; } }
  nav a.LogoLink {
    width: 150px; }
    nav a.LogoLink .Logo {
      width: 150px;
      position: relative;
      transition: all 0 linear;
      opacity: 1;
      top: 7px; }
      nav a.LogoLink .Logo.Hidden {
        opacity: 0; }
  nav .NavButtons {
    position: relative;
    top: 90px;
    text-align: right; }
    @media screen and (min-width: 968px) {
      nav .NavButtons {
        display: flex;
        top: 3px;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        text-align: left; } }
    nav .NavButtons .NavButton {
      font-size: 1rem;
      font-weight: 300;
      color: #FFFFFF;
      margin: 0 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center; }
      nav .NavButtons .NavButton:hover {
        cursor: pointer;
        color: #e6e6e6; }
      @media screen and (min-width: 968px) {
        nav .NavButtons .NavButton {
          margin: 0 21px;
          font-size: 0.875rem; }
          nav .NavButtons .NavButton:nth-of-type(1) {
            display: none; }
          nav .NavButtons .NavButton:nth-of-type(2) {
            display: none; } }
  nav .Actions {
    display: none; }
    @media screen and (min-width: 968px) {
      nav .Actions {
        width: 150px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        height: 40px; } }
    nav .Actions .ActionContent {
      border: 1px solid #EA3F67;
      border-radius: 3px;
      width: 150px;
      display: flex;
      flex-direction: row;
      height: 24px; }
      nav .Actions .ActionContent .ActionButton, nav .Actions .ActionContent .LeftButton, nav .Actions .ActionContent .RightButton {
        flex: 1;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 0.8125rem;
        font-weight: 300; }
      nav .Actions .ActionContent .RightButton {
        background-color: #EA3F67; }
  nav .custom-toggle {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: -2px;
    z-index: 99999999;
    display: block; }
    @media screen and (min-width: 968px) {
      nav .custom-toggle {
        display: none; } }
    nav .custom-toggle:hover {
      cursor: pointer; }
    nav .custom-toggle .bar {
      display: block;
      width: 30px;
      height: 2px;
      border-radius: 100px;
      position: absolute;
      top: 18px;
      right: 0px;
      background-color: #FFFFFF;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      transition: all 0.5s; }
      nav .custom-toggle .bar:first-child {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px); }
      nav .custom-toggle .bar:nth-child(2) {
        -webkit-transform: translateY(-16px);
        -moz-transform: translateY(-16px);
        -ms-transform: translateY(-16px);
        transform: translateY(-16px); }
  nav .custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px; }
  nav .custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px; }

.Home {
  position: relative;
  height: 100%;
  width: 100%; }

.Page, .ProductsPage, .PrivacyPolicyContent, .TermsOfServiceContent, .Integrations {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: ghostwhite;
  padding-bottom: 50px;
  padding-top: 100px; }
  .Page.Light, .Light.ProductsPage, .PrivacyPolicyContent, .TermsOfServiceContent, .Integrations {
    background-color: #F4F4F6; }

.CoverSlide {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background-image: url(/static/images/heroimage-main-mobile.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 968px) {
    .CoverSlide {
      background-image: url(/static/images/heroimage-main.jpg); } }
  .CoverSlide .Content {
    position: relative;
    width: 100%;
    max-width: 535px;
    height: 40%; }
  .CoverSlide h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    max-width: 535px; }
    @media screen and (min-width: 1600px) {
      .CoverSlide h1 {
        font-size: 2.625rem; } }
  .CoverSlide .LargeButtonRed {
    width: 550px;
    max-width: 90%; }
    @media screen and (min-width: 1600px) {
      .CoverSlide .LargeButtonRed {
        width: 675px; } }
  .CoverSlide .HomeArrow {
    width: 112px;
    position: absolute;
    bottom: 24px;
    left: calc((100% - 112px)/2); }

.ProductsPage {
  min-height: 80%; }
  .ProductsPage .ProductsContainer {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 968px) {
      .ProductsPage .ProductsContainer {
        flex-direction: row; } }
    .ProductsPage .ProductsContainer a.ProductLink {
      flex: 1;
      border: 0px; }
      @media screen and (min-width: 968px) {
        .ProductsPage .ProductsContainer a.ProductLink {
          flex-direction: row;
          border-right: 1px solid #585574; }
          .ProductsPage .ProductsContainer a.ProductLink:last-of-type {
            border-right: 0px; } }
      .ProductsPage .ProductsContainer a.ProductLink .Product {
        padding: 14px;
        transition: background-color 0.1s; }
        .ProductsPage .ProductsContainer a.ProductLink .Product:hover {
          background-color: rgba(255, 255, 255, 0.05); }
        .ProductsPage .ProductsContainer a.ProductLink .Product img {
          height: 45px;
          margin-bottom: 5px; }
        .ProductsPage .ProductsContainer a.ProductLink .Product h4 {
          margin: 0 0 7px;
          color: #75C05B;
          font-size: 1.2rem;
          text-align: center;
          font-weight: 500; }
        .ProductsPage .ProductsContainer a.ProductLink .Product p {
          color: #FFFFFF;
          text-align: center;
          margin: 0px;
          height: 60px;
          font-size: 0.9375rem; }
          @media screen and (min-width: 1600px) {
            .ProductsPage .ProductsContainer a.ProductLink .Product p {
              height: 50px; } }
        .ProductsPage .ProductsContainer a.ProductLink .Product span {
          font-size: 1.0625rem;
          font-weight: 500;
          color: #3B97D2;
          text-align: center;
          width: 100%;
          display: block; }
          .ProductsPage .ProductsContainer a.ProductLink .Product span:hover {
            cursor: pointer; }
  .ProductsPage .TrustedBy {
    display: flex;
    flex-direction: column;
    margin-top: 5rem; }
    .ProductsPage .TrustedBy img.CustomerLogos.Desktop {
      display: none; }
      @media screen and (min-width: 968px) {
        .ProductsPage .TrustedBy img.CustomerLogos.Desktop {
          margin: 1rem 0;
          display: initial; } }
    .ProductsPage .TrustedBy img.CustomerLogos.Mobile {
      margin: 1rem 0; }
      @media screen and (min-width: 968px) {
        .ProductsPage .TrustedBy img.CustomerLogos.Mobile {
          display: none; } }
    .ProductsPage .TrustedBy .FlexRow {
      justify-content: center;
      align-items: center; }
      .ProductsPage .TrustedBy .FlexRow h2 {
        font-size: 1.5625rem;
        font-weight: 300;
        color: #FFFFFF;
        margin: 0px 35px; }
      .ProductsPage .TrustedBy .FlexRow span {
        color: #EA3F67;
        font-size: 1.0625rem;
        font-weight: 500;
        margin: 0 25px; }
      .ProductsPage .TrustedBy .FlexRow .Line {
        flex: 2;
        height: 1px;
        background-color: #585574; }
  .ProductsPage .OpenSource {
    margin-top: 5rem; }

.PrivacyPolicyContent .Content p, .TermsOfServiceContent .Content p, .Integrations .Content p {
  margin-bottom: 1.25rem; }

.PrivacyPolicyContent .Content h2, .TermsOfServiceContent .Content h2, .Integrations .Content h2 {
  text-align: left;
  color: #00A79D; }

.Content {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto; }
  @media screen and (min-width: 968px) {
    .Content {
      width: 968px;
      max-width: 90%;
      margin: 0 auto; } }
  @media screen and (min-width: 1168px) {
    .Content {
      width: 1100px; } }
  @media screen and (min-width: 1600px) {
    .Content {
      width: 1368px; } }
  .Content img {
    height: auto;
    width: 100%; }
  .Content .FlexSpace {
    flex: 0.1; }
  .Content h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 300;
    margin: 0 0 1.5rem; }
  .Content h3 {
    font-size: 1.5625rem;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0 0 0.5rem; }
  .Content h4 {
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0 0 0rem; }
  .Content p {
    font-size: 1.0625rem;
    color: #202E46;
    font-weight: 300;
    margin: 0 0 0.5rem; }

.GetStarted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .GetStarted h2 {
    color: #202E46;
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .GetStarted .LargeButtonRed {
    width: 550px;
    max-width: 100%;
    margin: 0px; }
    @media screen and (min-width: 1600px) {
      .GetStarted .LargeButtonRed {
        width: 675px; } }

.PasslyBtn {
  position: relative;
  height: 35px;
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  text-align: center;
  display: flex;
  width: 190px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-radius: 3px;
  background-color: #EC0044; }
  .PasslyBtn:hover {
    cursor: pointer; }
  .PasslyBtn:active {
    top: 1px;
    background: #d3003d; }

.ScreenCover {
  left: 0;
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000000000;
  display: flex;
  flex-direction: column; }
  .ScreenCover .CoverContainer {
    max-width: 600px;
    max-height: 400px;
    position: relative;
    margin: 0 auto;
    background-color: #F9F9FA;
    border-radius: 3px;
    top: 200px;
    padding: 14px; }
    @media screen and (min-width: 968px) {
      .ScreenCover .CoverContainer {
        width: 600px; } }
    .ScreenCover .CoverContainer .IconContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .ScreenCover .CoverContainer .IconContainer i.icon-dis-close {
        font-size: 1.2rem;
        color: #BCBEC0; }
        .ScreenCover .CoverContainer .IconContainer i.icon-dis-close:hover {
          cursor: pointer; }

.FlexColumn {
  display: flex;
  flex-direction: column; }

.FlexRow {
  display: flex;
  flex-direction: row; }

.AlignCenter {
  align-items: center; }

.JustifyCenter {
  justify-content: center; }

.SpaceBetween {
  justify-content: space-between; }

.Flex1 {
  flex: 1; }

.Flex2 {
  flex: 2; }

.LargeButton, .LargeButtonRed {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 90%;
  margin: 2rem auto;
  font-size: 1.3rem;
  border-radius: 3px;
  color: #FFFFFF; }
  .LargeButton:hover, .LargeButtonRed:hover {
    cursor: pointer; }
  @media screen and (min-width: 500px) {
    .LargeButton, .LargeButtonRed {
      width: 450px;
      left: 0px; } }

.LargeButtonRed {
  background-color: #EC0044; }
  .LargeButtonRed:active {
    background-color: #d3003d;
    top: 1px; }

.About {
  min-height: calc(100% - 220px); }
  .About .Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .About .Header h2 {
      color: #00A79D;
      margin: 0 0 2rem;
      font-size: 1.875rem;
      font-weight: 300; }
    .About .Header h3 {
      color: #00A79D;
      margin: 0 0 2rem;
      font-size: 1.4rem;
      font-weight: 300;
      max-width: 800px;
      text-align: center; }
  .About .Values {
    position: relative;
    margin-bottom: 3em; }
    .About .Values .ValueInside {
      position: relative;
      background-color: white;
      width: 100%;
      padding: 14px 0; }
      .About .Values .ValueInside h3 {
        color: #00A79D;
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center;
        margin: 1rem 0; }
      .About .Values .ValueInside h4 {
        color: #00A79D;
        margin: 0 0 0;
        font-size: 1.0625rem;
        font-weight: 300;
        text-align: center; }
      .About .Values .ValueInside p {
        position: relative;
        margin: 0rem auto 1.5rem;
        text-align: center;
        max-width: 675px;
        font-size: 1.025rem;
        font-weight: 300;
        color: #2E2A51; }
      .About .Values .ValueInside span {
        color: #00A79D; }
  .About .AboutUsContent {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 968px) {
      .About .AboutUsContent {
        flex-direction: row; } }
  .About .Desc {
    display: flex;
    flex: 1;
    flex-direction: column; }
    .About .Desc .DescItem {
      margin: 0 0 3rem; }
      .About .Desc .DescItem h4 {
        color: #00A79D;
        margin: 0 0 0.5rem;
        font-size: 1.0625rem;
        font-weight: 300; }
        .About .Desc .DescItem h4 span {
          font-size: 1.0625rem;
          color: ghostwhite; }
      .About .Desc .DescItem p {
        font-size: 1.0625rem;
        line-height: 1.4;
        color: #2E2A51; }
        .About .Desc .DescItem p a {
          color: #1DAFE9; }
  .About .Map {
    flex: 1; }
    .About .Map .Headquarters {
      color: #00A79D;
      margin-bottom: 0.5rem;
      font-size: 1.0625rem;
      font-weight: 300; }
    .About .Map .Address {
      font-size: 1.0625rem;
      color: ghostwhite;
      font-weight: 300;
      margin-bottom: 0.5rem; }

.CTABtnContainer {
  width: auto;
  height: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 968px) {
    .CTABtnContainer {
      height: auto;
      flex-direction: row; } }
  .CTABtnContainer a {
    height: 35px;
    max-width: 310px;
    width: 100%; }
    .CTABtnContainer a:nth-of-type(2n-1) {
      margin-bottom: 10px; }
    @media screen and (min-width: 968px) {
      .CTABtnContainer a:nth-of-type(2n-1) {
        margin-bottom: 0px;
        margin-right: 5px; }
      .CTABtnContainer a:nth-of-type(2n) {
        margin-left: 5px; } }

.Btn {
  background-color: #EA3F67;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 36px;
  max-width: 310px;
  width: 100%;
  font-size: 1.0625rem;
  font-weight: 300;
  transition: background-color 0.3s;
  border-radius: 3px; }
  .Btn:hover {
    cursor: pointer; }
  .Btn:active {
    margin-top: 1px;
    background-color: #e72855; }
  .Btn i {
    margin-right: 7px;
    font-size: 1.4rem;
    position: relative;
    top: -1px; }
  .Btn i.icon-dis-docs {
    font-size: 1.6rem;
    top: 1px; }

.Btn.Grey {
  background-color: #AAAAAA; }
  .Btn.Grey:hover {
    cursor: inherit; }
  .Btn.Grey:active {
    background-color: #AAAAAA;
    border-bottom: 0px;
    top: 0px; }

.Btn.Cancel {
  background-color: #F7739C; }

span.BtnContainer p.HelperText {
  font-size: .755rem;
  font-weight: 400;
  font-style: italic;
  color: #38404E; }

.Btn.FullWidth {
  width: 100% !important; }

.EmailSignUp {
  display: flex;
  flex-direction: column; }
  .EmailSignUp .Row {
    margin-bottom: 10px !important; }
  .EmailSignUp label {
    font-size: 0.75rem;
    color: #38404E;
    margin-bottom: 3px; }
  .EmailSignUp .SalmonColor {
    color: #EA3F67; }
  .EmailSignUp input {
    border: 0px;
    padding: 7px;
    color: #38404E;
    outline: 0px;
    border-bottom: 1px solid white;
    transition: all 0.2s; }
    .EmailSignUp input:focus {
      border-bottom: 1px solid #1DAFE9; }
  .EmailSignUp .Names {
    display: flex;
    flex-direction: row;
    margin: 0 -10px; }
    .EmailSignUp .Names .FlexColumn {
      flex: 1;
      padding: 0 10px; }
  .EmailSignUp .Success {
    color: #75C05B;
    font-size: 0.875rem;
    text-align: center; }
  .EmailSignUp .Error {
    color: #EC0044;
    font-size: 0.875rem;
    text-align: center; }

.Menu {
  width: 90%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #2E2A51;
  position: fixed;
  transition: top 0.3s, opacity 0.3s; }
  @media screen and (min-width: 968px) {
    .Menu {
      width: 570px;
      margin: 0; } }
  .Menu .Arrow {
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    position: absolute;
    top: -7px;
    left: calc((100% - 14px)/2);
    border-top: 1px solid #cfd1d2;
    border-left: 1px solid #cfd1d2; }
  .Menu .Inside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0px;
    padding: 14px;
    position: relative; }
    .Menu .Inside .MenuItem {
      flex: 1;
      padding: 5px 7px; }
      .Menu .Inside .MenuItem:hover {
        cursor: pointer;
        background-color: #F4F4F6; }
      .Menu .Inside .MenuItem:last-of-type {
        margin: 0px; }
      .Menu .Inside .MenuItem span {
        color: #00A79D;
        font-size: 0.875rem;
        font-weight: 500; }
      .Menu .Inside .MenuItem p {
        margin: 0;
        font-size: 0.8125rem;
        font-weight: 300;
        color: #2E2A51; }
    .Menu .Inside .Product {
      flex: 1 0 45%;
      padding: 2% 3.5%;
      transition: background-color 0.2s; }
      @media screen and (min-width: 968px) {
        .Menu .Inside .Product {
          padding: 2% 2.5%; } }
      .Menu .Inside .Product:hover {
        cursor: pointer;
        background-color: #F4F4F6; }
      .Menu .Inside .Product img {
        width: auto;
        height: 35px; }
      .Menu .Inside .Product p {
        font-size: 0.875rem;
        font-weight: 300;
        color: #2E2A51;
        margin: 0; }

footer {
  position: relative;
  width: 100%;
  padding: 35px 0px;
  font-size: 0.8125rem;
  font-weight: 300;
  background: steelblue;
  height: auto; }
  @media screen and (min-width: 968px) {
    footer {
      padding: 0px;
      height: 70px; } }
  footer .Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 968px) {
      footer .Content {
        flex-direction: row; } }
    footer .Content .Links {
      height: 45px;
      flex: 1;
      display: flex;
      flex-direction: row; }
      @media screen and (min-width: 968px) {
        footer .Content .Links {
          align-items: center;
          height: 70px; } }
      footer .Content .Links a {
        margin: 0 15px;
        display: flex;
        flex-direction: row; }
        @media screen and (min-width: 968px) {
          footer .Content .Links a {
            margin: 0px;
            margin-right: 30px; } }
        footer .Content .Links a img {
          height: 25px;
          width: auto; }
    footer .Content .Feedback {
      flex: 1;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      display: flex;
      margin-top: 1rem; }
      @media screen and (min-width: 968px) {
        footer .Content .Feedback {
          margin: 0px; } }
      footer .Content .Feedback div {
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        display: flex; }
        @media screen and (min-width: 968px) {
          footer .Content .Feedback div {
            align-items: flex-end; } }
      footer .Content .Feedback span {
        font-size: 0.8125rem;
        color: #FFFFFF; }
      footer .Content .Feedback a {
        position: relative;
        margin-top: 5px; }
    footer .Content .FooterLinks {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 5px; }
      footer .Content .FooterLinks a {
        margin: 0 7px; }
        @media screen and (min-width: 968px) {
          footer .Content .FooterLinks a {
            margin: 0 10px; } }
    footer .Content div.Copyright {
      color: #FFFFFF;
      text-align: center;
      margin-top: 1rem; }
      @media screen and (min-width: 968px) {
        footer .Content div.Copyright {
          margin: 0px; } }
    footer .Content a {
      font-size: 1rem;
      color: white;
      font-weight: 300;
      transition: all 0.2s;
      font-size: 0.8125rem; }
      footer .Content a:hover {
        color: #2d8ac6; }

.ProductsMenu {
  width: 90%;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #2E2A51;
  position: fixed;
  top: 70px; }
  @media screen and (min-width: 968px) {
    .ProductsMenu {
      width: 570px;
      margin: 0; } }
  @media screen and (min-width: 1168px) {
    .ProductsMenu {
      margin-left: 2.5%; } }
  @media screen and (min-width: 1600px) {
    .ProductsMenu {
      margin-left: calc(135px + 1.5%); } }
  .ProductsMenu .Arrow {
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    position: absolute;
    top: -8px;
    left: calc((100% - 14px)/2);
    border-top: 1px solid #cfd1d2;
    border-left: 1px solid #cfd1d2; }
  .ProductsMenu .Inside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0px;
    padding: 14px;
    position: relative; }
    .ProductsMenu .Inside .Product {
      flex: 1 0 45%;
      padding: 2% 2.5%;
      transition: background-color 0.2s; }
      .ProductsMenu .Inside .Product:hover {
        cursor: pointer;
        background-color: #F4F4F6; }
      .ProductsMenu .Inside .Product img {
        width: auto;
        height: 35px; }
      .ProductsMenu .Inside .Product p {
        font-size: 0.875rem;
        font-weight: 300;
        color: #2E2A51;
        margin: 0; }

.CommandContainer {
  margin-top: 2rem; }
  .CommandContainer .Pull.Dark {
    color: #38404E; }
  .CommandContainer .Pull {
    color: lightgrey;
    margin-bottom: 7px;
    font-size: 1.0625rem;
    font-weight: 300; }
  .CommandContainer .Commands {
    background-color: #F4F4F6;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    height: 35px;
    align-items: center;
    border-radius: 3px;
    font-family: 'Courier New';
    font-size: 0.875rem; }
  .CommandContainer .Copy.Complete {
    color: #75C05B; }
  .CommandContainer .Copy {
    color: #1DAFE9;
    margin-left: auto;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 0.70rem;
    position: relative; }
    .CommandContainer .Copy:hover {
      cursor: pointer; }
    .CommandContainer .Copy:active {
      color: #15a0d8;
      top: 1px; }

.OneColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0 0; }
  .OneColumn .TextContent {
    margin-bottom: 1rem; }
    .OneColumn .TextContent.Center h3 {
      text-align: center; }
    .OneColumn .TextContent.Center p {
      text-align: center; }
    .OneColumn .TextContent h3 {
      color: #00A79D;
      margin: 0;
      font-size: 1.4625rem;
      font-weight: 300; }
    .OneColumn .TextContent p {
      color: #2E2A51;
      font-size: 1.0625rem;
      margin: 0; }
  .OneColumn .ImageContent {
    flex: 1;
    position: relative; }
    .OneColumn .ImageContent img {
      width: 100%; }

.TwoColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0 0; }
  @media screen and (min-width: 968px) {
    .TwoColumn {
      flex-direction: row; } }
  @media screen and (min-width: 968px) {
    .TwoColumn.Reverse {
      flex-direction: row-reverse; }
      .TwoColumn.Reverse .TextContent {
        margin: 0px; }
      .TwoColumn.Reverse .ImageContent {
        margin-right: 5rem; } }
  .TwoColumn .TextContent {
    margin-bottom: 1rem; }
    @media screen and (min-width: 968px) {
      .TwoColumn .TextContent {
        flex: 1;
        margin-right: 5rem; } }
    .TwoColumn .TextContent.Center {
      justify-content: center;
      display: flex;
      flex-direction: column; }
    .TwoColumn .TextContent h3 {
      color: #00A79D;
      margin: 0;
      font-size: 1.4625rem;
      font-weight: 300; }
    .TwoColumn .TextContent p {
      color: #2E2A51;
      font-size: 1.0625rem;
      line-height: 1.4;
      margin: 0; }
  .TwoColumn .ImageContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .TwoColumn .ImageContent img {
      width: 65%; }
      @media screen and (min-width: 968px) {
        .TwoColumn .ImageContent img {
          height: auto;
          width: 217px; } }
  .TwoColumn .ImageContent.Large {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 968px) {
      .TwoColumn .ImageContent.Large {
        flex: 2; } }
    .TwoColumn .ImageContent.Large img {
      width: 100%; }

.ThreeColumn {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 -3rem 0; }
  .ThreeColumn .OneColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 1rem 0; }
    .ThreeColumn .OneColumn .TextContent {
      margin-bottom: 1rem; }
      .ThreeColumn .OneColumn .TextContent h3 {
        color: #00A79D;
        margin: 0;
        font-size: 1.5625rem;
        font-weight: 300; }
      .ThreeColumn .OneColumn .TextContent p {
        color: #2E2A51;
        font-size: 1.0625rem;
        margin: 0; }
    .ThreeColumn .OneColumn .ImageContent {
      background-color: #F9F9FA;
      flex: 1;
      height: 100%;
      position: relative; }
      .ThreeColumn .OneColumn .ImageContent img {
        width: 100%; }

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: inherit;
  text-decoration: none; }

.TealColor {
  color: #00A79D !important; }

.FlexSpace {
  flex: 0.1; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdGF0aWMvY3NzL3N0eWxlLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/