@font-face {
    font-family: "clean";
    src: url(clean.woff);
}

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: clean !important;
}

// Page Header
nav {
    position: relative;
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
    background-color: white;

    // border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    // Nav Sections
    .nav-section {
        position: relative;
        height: 100%;
        margin: 0px;
        padding: 0px;
        float: left;
        width: 50%;

        // Logo
        .logo {
            letter-spacing: 0px;
            font-weight: normal;
            margin: 22px 0px 0px 100px;
            font-family: clean !important;
            font-weight: bold;
            font-size: 24px;
            color: #172126;
        }

        .title {
            color: #76A9E5;
            font-size: 22px;
            opacity: 0.7;
            text-transform: capitalize;
        }

        // Navigation
        ul.nav-list {
            position: absolute;
            right: 0px;
            list-style: none;
            margin: 25px 100px 0px 0px;
            font-family: clean !important;
            font-weight: 600;

            // Navigation Buttons
            li {
                margin: 0px 0px 0px 20px;
                color: #172126;
                font-size: 20px;
                letter-spacing: 0px;
                float: left;
                transition: all 0.3s;

                &:hover, &:active {
                    cursor: pointer;
                    color: #76A9E5;
                }
            }
        }
    }
}

.content-container {
    position: relative;
    height: 650px;
    width: 100%;
    background-color: #76A9E5;
}

.work-container {
    position: relative;
    width: 96.6%;
    left: 1.6%;
    padding-top: 3.3333%;

    .work-item-box {
        position: relative;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 3.3333%;

        .work-item {
            position: relative;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            font-family: clean;
            background-color: #76A9E5;
            transition: all 0.5s;
            &:hover {
                background-color: #ecf0f1;
                cursor: pointer;
            }


            

            // .work-item-image {
            //     position: relative;
            //     width: 100%;
            //     height: 100%;
            //     background-color: #76A9E5;
            //     transition: all 0.5s;

            //     &:hover {
            //         background-color: #ecf0f1;
            //         cursor: pointer;
            //     }
            // }

            .work-item-preview {
                position: absolute;
                top: 0px;
                top: 100px;
                padding: 40px;


                .work-item-title {
                    position: relative;
                    width: 100%;

                    font-size: 30px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .work-item-desc{
                	position: relative;
                	font-size: 24px;
                }

            }
            .work-item-view {
                  position: absolute;
                  height: 45px;
                  width: 160px;
                  background-color: #ecf0f1;
                  bottom: 80px;
                  left: calc((100% - 160px)/2);
                  text-align: center;
                  text-transform: capitalize;
                  padding-top: 10px;
                  font-size: 26px;
                  
                }
        }
    }
}

.contact-container{
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: #ecf0f1;
}
